*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}
h1{
    color: brown;
    text-align: center;
    font-size: 80px;
}
#myImage{
    max-width: 100%;
    display: none;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}
#myButton{
    padding: 14px 32px ;
    font-size: 16px;
    background-color: rgb(83, 0, 104);
    border: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}